<ion-header >
  <ion-toolbar color="primary">
    <ion-title>LOGIN</ion-title>
    <!-- <ion-img mat-card-img-sm src="../../assets/photos/logo.jpg"></ion-img> -->
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- <div class="form-control"> -->
    <br>
  <form novalidate (ngSubmit)="login()" [formGroup]="myForm">
  <ion-item no-lines>
  <ion-label color="primary">Userid</ion-label> 
  <ion-input type="number" [class.error1]="!myForm.controls.user_id.valid"  formControlName="user_id" [(ngModel)]="user_id"  name="user_id" required></ion-input>
  </ion-item>
  <ion-item no-lines *ngIf="(myForm.get('user_id').hasError('minlength') || myForm.get('user_id').hasError('required')) && myForm.get('user_id').touched">
    <div class="error"  *ngIf="myForm.get('user_id').hasError('required') && myForm.get('user_id').touched">
     Please Enter user id !!
    </div>
    <div class="error" *ngIf="myForm.get('user_id').hasError('minlength') && myForm.get('user_id').touched">
        Minimum 8 Characters !!
    </div>
    <div class="error" *ngIf="myForm.get('user_id').hasError('pattern') && myForm.get('user_id').touched">
        Just use digits !!
      </div>
  </ion-item>

  <br>


  <!-- <ion-item *ngIf="!showPasswordText">
  <ion-icon name="lock" item-start class="text-primary"></ion-icon> -->
  <ion-item no-lines>
  <ion-label color="primary">Password</ion-label>
  <ion-input minlength="5" type="{{type}}" [class.error1]="!myForm.controls.user_password.valid" formControlName="user_password"  [(ngModel)]="user_password" name="user_password" required></ion-input>
  <ion-icon [name]="icon" item-right (click)="showPassword()"></ion-icon>
  </ion-item>
  <ion-item no-lines *ngIf="(myForm.get('user_password').hasError('minlength') || myForm.get('user_password').hasError('required')) && myForm.get('user_password').touched">
      <div class="error"  *ngIf="myForm.get('user_password').hasError('required') && myForm.get('user_password').touched">
       Please Enter user id !!
      </div>
      <div class="error" *ngIf="myForm.get('user_password').hasError('minlength') && myForm.get('user_password').touched">
        Minimum 6 Characters !!
      </div>
      <div class="error" *ngIf="myForm.get('user_password').hasError('maxlength') && myForm.get('user_password').touched">
          Maximum 12 Characters !!
        </div>
    </ion-item>


  <br>
  <ion-item no-lines>
      <ion-label color="primary">User Type</ion-label>
      <ion-select placeholder="Select One" [class.error1]="!myForm.controls.user_type.valid" formControlName="user_type" [(ngModel)]="user_type" name="user_type" required>
          <ion-select-option *ngFor="let item of usertype_arr" [value]="item">{{item}}</ion-select-option>
        </ion-select>
  </ion-item>
  <ion-item no-lines *ngIf="(myForm.get('user_type').hasError('minlength') || myForm.get('user_type').hasError('required')) && myForm.get('user_password').touched">
      <div class="error"  *ngIf="myForm.get('user_type').hasError('required') && myForm.get('user_type').touched">
       Please Select user type !!
      </div>
  </ion-item>
  <br>
  
  <ion-button style="margin-left:28%; width:40%; border-radius:20%;" class="center ion-buttons " [disabled]="myForm.invalid" (click)="login()">Login</ion-button>

  <br>
  <br>
<a href="/forget-password"><b>Forget Password?</b></a><br><br><a href="/change-password"><b>Change Password?</b></a> 

  <!-- </div> -->
  