<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-icon name="arrow-round-back" (click)="onback()" style="height:30px;width:30px;"></ion-icon>

      </ion-buttons>
      <ion-title>LEAVE</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <form novalidate (submit)="sendLeave()" name="myForm">
      <ion-item>
          <ion-label>From Date:</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" name="l_fromdate"
           [(ngModel)]="l_fromdate" l_fromdate required #l_fromdateFormControl="ngModel"
          [min]="minDate"></ion-datetime>
          <ion-icon name="calendar" right></ion-icon> 
          <p style="color:red;" *ngIf="l_fromdateFormControl?.hasError('required') && l_fromdateFormControl?.touched">
              *required Starting date!
           </p>
      </ion-item>
     
        
        <ion-item>
            <ion-label>To Date:</ion-label>
            <!-- <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD"></ion-datetime> -->
            <ion-datetime displayFormat="MM/DD/YYYY" l_todate required name="l_todate" #l_todateFormControl="ngModel"
          [min]="minDate" [(ngModel)]="l_todate"></ion-datetime>
          <ion-icon name="calendar" right></ion-icon>
          <p style="color:red;" *ngIf="l_todateFormControl?.hasError('required') && l_todateFormControl?.touched">
              *required ending date!
           </p>
        </ion-item>
       
        <ion-item>
            <ion-label>Leave Type:</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="l_type" l_type required name="l_type" #l_typeFormControl="ngModel">
                <ion-select-option value="sick">Sick Leave</ion-select-option>
                <ion-select-option value="one">One day Leave</ion-select-option>
                <ion-select-option value="half">Half day Leave</ion-select-option>
                <ion-select-option value="others">Others</ion-select-option>
              </ion-select>
              <p style="color:red;" *ngIf="l_typeFormControl?.hasError('required') && l_typeFormControl?.touched">
                  *required Leave type!
               </p>
        </ion-item>
       
        
            <ion-item>
                <ion-label position="floating">Description:</ion-label>
                <ion-textarea [(ngModel)]="l_description" l_description required name="l_description" #l_descriptionFormControl="ngModel" style="height:100px;" ></ion-textarea>
                <p style="color:red;" *ngIf="l_descriptionFormControl?.hasError('required') && l_descriptionFormControl?.touched">
                    *required Leave description!
                 </p>
            </ion-item>
              
            
                  <ion-button expand="block" fill="outline" color="primary" [disabled]="(l_descriptionFormControl?.hasError('required')) || (l_fromdateFormControl?.hasError('required')) || (l_todateFormControl?.hasError('required')) || (l_typeFormControl?.hasError('required'))" (click)="sendLeave()">Request Leave
                  <ion-icon name="send"></ion-icon> 
                </ion-button>
              </form>
            </ion-content>
          
            <!-- useCurrentTimeAsDefaultValue="true" -->
            <!-- [min]="today" -->
  
  