ion-icon{
    font-size: 5em;
    size: 1cm;
  }
  ion-col
  {
    width: 10%;
    height: 10%;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: rgb(68, 69, 70);
    grid-auto-flow: row dense;
  }
  
  #hidden-button{
    height: 100%;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  // ion-card
  // {
  //   size: fixed;
  // }
  
  // .example-card {
  //   max-width: 400px;
  // }
  
  // .example-header-image {
  //   // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //   background-size: cover;
  // }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  // // td{
  // //     width: 20%;
  // //     height: 50%;
  // // }
  // // tr{
  // //     height: 50%;
  // // }
  // // button{
  // // //     width: 100%;
  // // //     height: 100%;
  // // // }
  // // div
  // // {
  // //     border: 2px;
  // //     border-width: 2px;
  // //     border-color: black;
  // // }
  // // mat-grid-tile {
  // //     background:white;
  // //     border: 2px;
  // //     border-width: 2px;
  // //     border-color: black;
    
  // //   }
  // // mat-grid-list{
  // //   border-color:black;
  // //   border-width: 2px;
  // // }
  // // mat-grid-tile {
  // //   background:lightblue
  // // }
  
  
  img{
    margin-top: 8%;
    width:25%;
    height:60%;
    border-radius: 50%;
    margin-left:2%;
  }
  .bg
  {
    filter: blur(2px);
    background-color: lightgray;
  }
  
  .myCard{
    position:relative;
  
  }
  
  .myOverlay{
      width: 150%;
      height: 200%;
      position: absolute;
      z-index: 99;
      bottom: 0px;
      top:0px;
      opacity: 0.5;
      //background: #000;
      // background: whitesmoke;
      color:black;
      text-decoration-color: black;
      margin-left: 32%;
      margin-top: 2%;
  
  }
  