<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <br>
  <ion-item>
  <ion-label color="primary">Userid</ion-label> 
  <ion-input type="text" [(ngModel)]="user_id" name="user_id" required></ion-input>
  
  </ion-item>
  <br>
  <ion-item *ngIf="!showPasswordText">
    <ion-label color="primary">New Password</ion-label>
    <ion-input minlength="8" type="{{type}}" [(ngModel)]="user_password" name="user_password" required></ion-input>
    <ion-icon [name]="icon" item-right (click)="showPassword()"></ion-icon>
    </ion-item>
    
  <br>
  <ion-item *ngIf="!showPasswordText">
    <ion-label color="primary">Confirm Password</ion-label>
    <ion-input minlength="8" type="{{type}}" [(ngModel)]="user_confirm_password" name="user_confirm_password" required></ion-input>
    <ion-icon [name]="icon" item-right (click)="showPassword()"></ion-icon>
    </ion-item>
    
  <br>
  <br>
  <ion-button style="margin-left: 10%;" color="secondary" (click)="onchangepassword()">Update</ion-button>&nbsp;&nbsp;<ion-button color="danger" (click)="onCancel()">Cancel</ion-button>

  
</ion-content>
