<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-icon name="arrow-round-back" (click)="onback()" style="height:30px;width:30px;"></ion-icon>
      </ion-buttons>
      <ion-title>Change Password</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
      <br>
    <ion-item>
    <ion-label color="primary">Userid</ion-label> 
    <ion-input type="text" [(ngModel)]="user_id" name="user_id" user_id #user_idFormControl="ngModel" required></ion-input>
    </ion-item>
    <p style="color:red;" *ngIf="(user_idFormControl?.hasError('required'))  && (user_idFormControl?.touched)">
        *Please Enter User Id!
     </p>
    <br>
    <ion-item *ngIf="!showPasswordText">
      <ion-label color="primary">New Password</ion-label>
      <ion-input minlength="8" type="{{type}}" [(ngModel)]="user_password" user_password  #user_passwordFormControl="ngModel" required name="user_password"></ion-input>
      <ion-icon [name]="icon" item-right (click)="showPassword()"></ion-icon>
      </ion-item>
      <p style="color:red;" *ngIf="(user_passwordFormControl?.hasError('required'))  && (user_passwordFormControl?.touched)">
          *Please Enter New password!
       </p>
      
    <br>
    <ion-item *ngIf="!showPasswordText">
      <ion-label color="primary">Confirm Password</ion-label>
      <ion-input minlength="8" type="{{type}}" [(ngModel)]="user_confirm_password" user_confirm_password #user_confirm_passwordFormControl="ngModel" name="user_confirm_password" required></ion-input>
      <ion-icon [name]="icon" item-right (click)="showPassword()"></ion-icon>
      </ion-item>
      <p style="color:red;" *ngIf="(user_confirm_passwordFormControl?.hasError('required'))  && (user_confirm_passwordFormControl?.touched)">
          *Please Enter Confirm password!
       </p>
      
    <br>
    <br>
    <ion-button style="margin-left: 10%;" color="secondary" [disabled]="user_confirm_passwordFormControl?.hasError('required') || user_passwordFormControl?.hasError('required') || user_idFormControl?.hasError('required')" (click)="onchangepassword()">Update</ion-button>&nbsp;&nbsp;<ion-button color="danger" (click)="onCancel()">Cancel</ion-button>
  
    
  </ion-content>
  
  