<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-icon name="arrow-round-back" (click)="onback()" style="height:30px;width:30px;"></ion-icon>

      </ion-buttons>
      <ion-title>Holidays</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
   <ion-card>
    <h2>LIST  OF  HOLIDAYS  2019-2020</h2>
    
                          <table>
                            <tr>
                            <th>Date</th>
                            <th>Festivals</th>
                            </tr>
                            <tr>
                            <td>16.06.2018
                                    </td>
                            
                            <td>Ramzan Idd</td>
                            </tr>
                            <tr>
                            <td>16.07.2018
                              </td>
                           
                            <td>School Feast Day</td>
                            </tr>
                            <tr>
                            <td>15.08.2018	</td>
                           
                            <td>Independence Day</td>
                            </tr>
                            <tr>
                            <td>17.08.2018	</td>
                          
                            <td>Pateti – Parsi New Year</td>
                            </tr>
                            <tr>
                            <td>22.08.2018</td>
                           
                            <td>Bakri Idd</td>
                           </tr>
                            <tr>
                            <td>22.08.2018</td>
                           
                            <td>	Bakri Idd</td>
                            </tr>
                            <tr>
                                <td>26.08.2018	</td>
                              
                                <td>	Rakshabandhan</td>
                                </tr>
                                <tr>
                                    <td>26.08.2018	</td>
                                   
                                    <td>	Rakshabandhan</td>
                                    </tr>
                                    <tr>
                                        <td>26.08.2018	</td>
                                       
                                        <td>	Rakshabandhan</td>
                                        </tr>
                                        <tr>
                                            <td>26.08.2018	</td>
                                           
                                            <td>	Rakshabandhan</td>
                                            </tr>
                                            <tr>
                                                <td>26.08.2018	</td>
                                               
                                                <td>	Rakshabandhan</td>
                                                </tr>
                                                <tr>
                                                    <td>26.08.2018	</td>
                                                   
                                                    <td>	Rakshabandhan</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26.08.2018	</td>
                                                     
                                                        <td>	Rakshabandhan</td>
                                                        </tr>
                                                        <tr>
                                                            <td>26.08.2018	</td>
                                                            
                                                            <td>	Rakshabandhan</td>
                                                            </tr>
    
    
                          </table>
    
    
                         <br> <p>  NAVRATRI VACATION :  10.10.2018 to 17.10.2018
                            <br><br> DIWALI VACATION :  05.11.2018 to 14.11.2018
                            <br><br>CHRISTMAS VACATION :  25.12.2018 to 01.01.2019
                            <br><br>SUMMER VACATION :  02.05.2019 to 04.06.2019
                          </p>
                        </ion-card>
    

</ion-content>
