<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Vishwa Bharati</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          
            <div *ngIf="s_flag">
                <ion-menu-toggle auto-hide="false">
                    <ion-item style="height:auto;" [routerDirection]="'root'" routerLink="/profile-page">
                            <ion-card class="myCard" style=" margin: 0%; height:150%; ">
                              <img src="http://localhost:3000/images/{{path}}" style=" height: 50%; width:30%; margin-top: 14%;"/>
                              <div class="myOverlay" style="margin-left: 32%; position: absolute; z-index: 99; bottom: 0px; top: 0px;">
                                <br> 
                                <div class="card-title" style="margin-left: 1%;"><h5 style="color: black;">{{name}}<br>{{class}}-{{div}}</h5></div>
                                 <br>
                                 <!-- <div class="card-subtitle"><h3 style="color: black">{{class}}-{{div}}</h3></div> -->
                              </div>
                            </ion-card>
                          </ion-item>
                    </ion-menu-toggle>
            </div>

            
            <div *ngIf="t_flag">
                <ion-menu-toggle auto-hide="false">
                    <ion-item style="height:auto;" [routerDirection]="'root'" routerLink="/teacher-profile">
                            <ion-card class="myCard" style=" margin: 0%; height:150%; ">
                              <img src="http://localhost:3000/images/{{path}}" style=" height: 50%; width:30%; margin-top: 14%;"/>
                              <div class="myOverlay" style="margin-left: 32%; position: absolute; z-index: 99; bottom: 0px; top: 0px;">
                                <br> 
                                <div class="card-title" style="margin-left: 0%;"><h6 style="color: black;">{{name}}<br></h6></div>
                                 <br>
                                 <!-- <div class="card-subtitle"><h3 style="color: black">{{class}}-{{div}}</h3></div> -->
                              </div>
                            </ion-card>
                          </ion-item>
                    </ion-menu-toggle>
            </div>
  <div *ngIf="s_flag">
      <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'" routerLink="/profile-page">
            <ion-label>
                <ion-icon style="height: 25px;width:25px;" name="contact"></ion-icon> &nbsp;&nbsp; My profile
            </ion-label>
          </ion-item>
        </ion-menu-toggle>  
  </div>
  <div *ngIf="t_flag">
      <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'" routerLink="/teacher-profile">
            <ion-label>
                <ion-icon style="height: 25px;width:25px;" name="contact"></ion-icon>  &nbsp;&nbsp;  My profile
            </ion-label>
          </ion-item>
        </ion-menu-toggle>  
  </div>
            
             
          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

        
<!--           
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/parent-dash-board-page">
              <ion-label>
                Parent DashBoard
              </ion-label>
            </ion-item>
          </ion-menu-toggle>  -->

          
  
    <!--     <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/interaction-display">
               <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                Interaction Display
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
        --> 
          <!-- <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/login-page">
              <ion-label>
                LogIn
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
  -->
         <!--     <ion-menu-toggle auto-hide="false">
                <ion-item [routerDirection]="'root'" routerLink="/my-demo">
                 <ion-icon slot="start" [name]="p.icon"></ion-icon> 
                  <ion-label>
                    My demo
                  </ion-label>
                </ion-item>
              </ion-menu-toggle> 
             --> 
             <!-- <ion-menu-toggle auto-hide="false">
                <ion-item [routerDirection]="'root'" routerLink="/teacher-dashboarf">
                  <ion-label>
                  Teacher dashboard
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>  -->
              <ion-menu-toggle auto-hide="false">
                  <ion-item [routerDirection]="'root'" routerLink="/change-password">
                    <!-- <ion-icon slot="start" [name]=""></ion-icon> -->
                    <ion-label>
                        <ion-icon style="height: 25px;width:25px;" name="unlock"></ion-icon> &nbsp;&nbsp; Change Password
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              <!-- <a href="/change-password"><b>Change Password?</b></a>             -->
          <ion-menu-toggle auto-hide="false">
              <ion-item [routerDirection]="'root'" routerLink="/logout">
                <!-- <ion-icon slot="start" [name]=""></ion-icon> -->
                <ion-label>
                    <ion-icon style="height: 25px;width:25px;" name="log-out"></ion-icon>&nbsp;&nbsp;   Log Out
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
   
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
