<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Student Time Table
      </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <!-- <ion-card  style="width:100%; margin-left: 1px;" *ngFor="let item of stu_timetable_arr">
        <ion-card-header>
          <ion-card-title style="width:fit-content;color:blue;background-color:lavender;">
            {{item.s_timetable_date | date}}
          </ion-card-title>
        </ion-card-header>
   
        <a href="http://localhost:3000//Pdfpath/{{item.s_timetable_pdfpath}}" target="_blank"><ion-button expand="full">Open PDF</ion-button></a>

      
      </ion-card> -->
          <img src="../../assets/photos/timetable.jpg"  style="height: 400px;">
    

</ion-content>
