
<ion-content>
  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    <ion-spinner name="lines" style="width:70px;height: 70px;padding-top: 300px;" color="primary"></ion-spinner>
    <ion-card-header>
        <ion-card-title text-center style="color:cornsilk;font-size: 30px;">LOGGING <br> OUT</ion-card-title>
      </ion-card-header>
      <br>
      <br>
      <ion-button expand="block" color="primary" (click)="onlogin()">LOGIN</ion-button>
    
</ion-content>
