<!-- <ion-header>
  <ion-toolbar color="primary">
   <ion-title text-center style="color:white;">
    Vishwabharati
   </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <br><br>
      <ion-img src="/assets/photos/logo1.jpg" style="height: 200px;width: 230px;padding-left:20%;padding-top: 20%;"></ion-img>
      <br>
      <br>
      <ion-card-header>
        <ion-card-title text-center style="color:cornsilk;font-size: 30px;">Welcome <br>To <br>Vishwabharati</ion-card-title>
      </ion-card-header>
      <br>
      <br>
    <ion-button style="margin-left:28%; width:40%; border-radius:20%;" class="center ion-buttons" (click)="onlogin()">Login</ion-button>
</ion-content>