<ion-header>
  <ion-toolbar color="primary">
   <ion-title text-center style="color:white;">
    Vishwabharati
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br><br>
      <ion-img src="/assets/photos/logo1.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title text-center>Welcome</ion-card-title>
      </ion-card-header>
    <ion-button style="margin-left:28%; width:40%; border-radius:20%;" class="center ion-buttons" (click)="onlogin()">Login</ion-button>
</ion-content>