
<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-icon name="arrow-round-back" (click)="onback()" style="height:30px;width:30px;"></ion-icon>

      </ion-buttons>
      <ion-title>Forget password</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
      <br>
      <br>
    <ion-item>
    <ion-label color="primary">Userid</ion-label> 
    <ion-input type="number" [(ngModel)]="user_id" name="user_id" user_id #user_idFormControl="ngModel" required></ion-input>
  
    
    </ion-item>
    <p style="color:red;" *ngIf="(user_idFormControl?.hasError('required'))  && (user_idFormControl?.touched)">
        *Please Enter User Id!
     </p>
    <br>
    <ion-item>
        <ion-label color="primary">Email Id</ion-label> 
        <ion-input type="email" [(ngModel)]="email_id" name="email_id" required email_id email #email_idFormControl="ngModel"></ion-input>
      
    </ion-item>
    <p style="color:red;" *ngIf="(email_idFormControl?.invalid && email_idFormControl?.touched) || (email_idFormControl?.hasError('required')  && email_idFormControl?.touched)">
        *Please Enter valid Email Id!
     </p>
    <br>
    <br>
    
    <ion-button style="margin-left: 10%;" [disabled]="email_idFormControl?.hasError('required') || user_idFormControl?.hasError('required')"
     color="secondary" (click)="onforget()">Send<ion-icon name="send"></ion-icon> </ion-button>
      &nbsp;&nbsp;<ion-button color="danger" (click)="onCancel()">Cancel</ion-button>
  </ion-content>
  
  