<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forget password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <br>
    <br>
  <ion-item>
  <ion-label color="primary">Userid</ion-label> 
  <ion-input type="number" [(ngModel)]="user_id" name="user_id" required></ion-input>
  
  </ion-item>
  <br>
  <ion-item>
      <ion-label color="primary">Email Id</ion-label> 
      <ion-input type="text" [(ngModel)]="email_id" name="email_id" required></ion-input>
      
  </ion-item>

  <br>
  <br>
  
  <ion-button style="margin-left: 10%;" color="secondary" (click)="onforget()">Send<ion-icon name="send"></ion-icon> </ion-button>&nbsp;&nbsp;<ion-button color="danger" (click)="onCancel()">Cancel</ion-button>
</ion-content>


